{# vim: set sts=2 sw=2 ts=2 et: #}
{% extends "base.html" %}

{% block title_extra %} | Home{% endblock %}

{% block body %}

<div class="container">
    <div class="hidden-md hidden-sm hidden-xs">
      <img src="/static/img/MBus_ecosystem.png" class="displayed" width="100%">
    </div>
  <div class="jumbotron">
    <div>
      <h2 id="home_title">MBus is the next-generation interconnect that enables the millimeter-scale computing class</h2>
      <p>MBus is a chip-to-chip bus designed for ultra-constrained systems.
      MBus is a multi-master bus supporting an arbitrary number of nodes,
      priority arbitration, efficient acknowledgements, and extensible
      addressing, with only four wires and consuming only
      <strong>3.5&nbsp;pJ/bit/chip</strong>.</p>
      <p>MBus is <i>power-aware</i>, enabling the design of
      <i>power-oblivious</i> systems. Individual chips can fully power off and
      MBus will automatically take care of all the tricky details.</p>
    </div>
  </div>
  <div class="well well-clear">
    <h4>
      MBus was invented and built by a team of researchers at the
      University of Michigan:
    </h4>
    <ul class="authors">
      <li><a href="http://patpannuto.com">Pat Pannuto</a>, Ph.D. Student, University of Michigan</li>
      <li><a href="http://sites.google.com/site/yoonmyunglee/">Yoonmyung Lee</a>, Assistant Professor, SungKyunKwan University; Co-Founder, <a href="http://cubeworks.us">CubeWorks</a></li>
      <li><a href="http://web.eecs.umich.edu/~samkuo">Ye-Sheng Kuo</a>, Research Fellow, University of Michigan</li>
      <li><a href="http://blaauw.eecs.umich.edu/people.php?u=zhiyoong">ZhiYoong Foo</a>, Co-Founder and CEO, <a href="http://cubeworks.us">CubeWorks</a>; Research Fellow, University of Michigan</li>
      <li><a href="http://web.eecs.umich.edu/~bpkempke">Benjamin Kempke</a>, Ph.D. Student, University of Michigan; Founder and CEO, Kempke Engineering</li>
      <li><a href="http://blaauw.eecs.umich.edu/people.php?u=professor">David Blaauw</a>, Professor, University of Michigan; Co-Founder, <a href="http://cubeworks.us">CubeWorks</a></li>
      <li><a href="http://web.eecs.umich.edu/~prabal">Prabal Dutta</a>, Associate Professor, University of Michigan; Co-Founder, <a href="http://cubeworks.us">CubeWorks</a></li>
    </ul>
    <h4>
      You can reach the MBus team at <a href="mailto:mbus-team@umich.edu">mbus-team@umich.edu</a>.
    </h4>
  </div>
</div>

{% endblock %}
