{# vim: set sts=2 sw=2 ts=2 et: #}
{% extends "base.html" %}

{% block title_extra %} | Verilog{% endblock %}

{% block body %}

<div class="container">
  <div class="well well-clear">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <h1>MBus Implementation</h1>
        <p>
          We have built a reference MBus implementation. This implementation has
          been tested on multiple FPGAs (including the <a href="/ice.html">ICE Board</a>)
          and built into about a dozen fabricated chips (on several processes).
        </p>
        <p>
          <!--
          <ul>
            <li><em><a href="/verilog-legal.html">Download the MBus Verilog</a></em></li>
          </ul>
          -->
        <hr />
        History:
        <dl class="dl-horizontal">
          <dt>2015-08-03</dt>
          <dd><a href="https://github.com/mbus/mbus">Initial Public Release</a></dd>
        </dl>
        </p>
      </div>
      <div class="col-lg-6 hidden-xs">
        <img src="/static/img/block_diagram.svg"
        width="100%" title="MBus Verilog Overview" alt="Block Diagram of MBus Verilog" />
      </div>
    </div>
  </div>
</div>

{% endblock %}

